<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
<style>
</style>
<meta charset="UTF-8">
<title>Los Cafes</title>
</head>
<body>
	<table border="1px" style="display: table; margin:auto; margin-top:200px; width: 50%;border-collapse: collapse;">
		<thead>
			<th>ID</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Cantidad</th>
			<th>FOTO</th>
			<th colspan="2">Opciones</th>
		</thead>
		<tbody>
			<tr th:each="cafe: ${cafes}">
				<td th:text="${cafe.id}"/>
				<td th:text="${cafe.nomcafe}"/>
				<td th:text="${cafe.precio}"/>
				<td th:text="${cafe.cantidad}"/>

				<td th:each="nombreImagen : ${nombresImagenes}"
						th:if="${nombreImagen == cafe.nomcafe + '.jpg'} ? ${nombreImagen} : null">
					<img th:src="@{/ImagenesCafes/__${nombreImagen}__}"
							alt="Cafes" width="100" height="100">
				</td>
						<!-- th:src="@{/ImagenesCafes/${ #strings.equals(__${cafe.nomcafe}__ + '.jpg', __${nombreImagen}__) ? __${nombreImagen}__ : __${nombreImagen}__ }}" -->
						<!-- th:if="${nombreImagen == cafe.nomcafe + '.jpg'} ? ${nombreImagen} : null"
 -->
				<td><a th:href="@{'/updateCafe/'+${cafe.id}}">Update</a></td>
				<td><a th:href="@{insertCafe}">Insertar Cafe</a></td>
				<!-- <td><a th:href="@{'/deletecafe/'+${cafe.id}}">Delete</a></td> -->
			</tr>
		</tbody>
		<br>
		<a href="/../">Volver al indice</a>
		<br>
	</table>
</body>
</html>