<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
	<link rel="icono" href="CafeteriaAPP/CafeteriaAPP/src/main/resources/static/favicon.ico">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css">
<title>Insert Comida</title>
</head>
<body>
	<ul class="nav nav-pills nav-fill navbar-dark">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/../">Indice</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarComida}">Comida</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarBebida}">Bebida</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarCafe}">Cafe</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarCafe}">Refresco</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{consumicion}">Consumicion</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarPedido}">Pedidos</a>
		</li>
	</ul>
	<form th:action="@{/crearComidaNueva}" th:object="${comidaNueva}" >
		<label for="id" style="display: none;">ID:</label>
		<input type="number" id="id"  th:field="*{id}" style="display: none;"><br><br>
		<label for="nomComida">Nombre de la Comida:</label>
		<input type="text" id="nomComida"  th:field="*{nomComida}"><br><br>
		<!-- <label for="cantidad">Cantidad:</label>
		<input type="number" id="cantidad"  th:field="*{cantidad}"><br><br> -->
		<label for="precio">Precio:</label>
		<input type="number" id="precio"  th:field="*{precio}"><br><br>
		
		<input type="submit" value="Insertar">
		
	</form>
</body>
</html>