<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
<style>
</style>
<meta charset="UTF-8">
<title>Las Comidas</title>
</head>
<body>
	<table border="1px" style="display: table; margin:auto; margin-top:200px; width: 50%;border-collapse: collapse;">
		<th>Nombre de la Comida</th>
		<th>Precio</th>
		<th>Cantidad</th>
		<th colspan="2">Opciones</th>
		<tbody>
			<tr th:each="comida: ${comidas}">
				<td th:text="${comida.nomComida}"/>
				<td th:text="${comida.precio}"/>
				<td th:text="${comida.cantidad}"/>
				<!--<td><a th:href="@{'/updateCafe/'+${cafe.id}}">Update</a></td> -->
				<td><a th:href="@{insertComida}">Insertar comida</a></td>
				<!-- <td><a th:href="@{'/deletecafe/'+${cafe.id}}">Delete</a></td> -->
			</tr>
		</tbody>
		<br>
		<a href="/../">Volver al indice</a>
		<br>
	</table>
</body>
</html>