<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
</style>
<meta charset="UTF-8">
<title>Las Comidas</title>
</head>
<body>
	<ul class="nav nav-pills nav-fill navbar-dark">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/../">Indice</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarComida}">Comida</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarBebida}">Bebida</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarCafe}">Cafe</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarRefresco}">Refresco</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{consumicion}">Consumicion</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarPedido}">Pedidos</a>
		</li>
	</ul>
	<table border="1px" style="display: table; margin:auto; margin-top:200px; width: 50%;border-collapse: collapse;">
		<th>Nombre de la Comida</th>
		<th>Precio</th>
		<th>Cantidad</th>
		<th colspan="2">Opciones</th>
		<tbody>
			<tr th:each="comida: ${comidas}">
				<td th:text="${comida.nomComida}"/>
				<td th:text="${comida.precio}"/>
				<td th:text="${comida.cantidad}"/>
				<!--<td><a th:href="@{'/updateCafe/'+${cafe.id}}">Update</a></td> -->
				<td><a th:href="@{insertComida}">Insertar comida</a></td>
				<!-- <td><a th:href="@{'/deletecafe/'+${cafe.id}}">Delete</a></td> -->
			</tr>
		</tbody>
		<br>
		<a href="/../">Volver al indice</a>
		<br>
	</table>
</body>
</html>