<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
<style>
</style>
<meta charset="UTF-8">
<title>Los Cafes</title>
</head>
<body>
	<table border="1px" style="display: table; margin:auto; margin-top:200px; width: 50%;border-collapse: collapse;">
		<th>Numero Pedido</th>
		<th>Nombre</th>
		<th>Precio</th>
		<th>Bebida</th>
		<th>Comida</th>
		<th colspan="2">Opciones</th>
		<tbody>
			<tr th:each="pedido: ${pedidos}">
				<td th:text="${pedido.numPedido}"/>
				<td th:text="${pedido.consumicion.nombreConsumicion}"/>
				<td th:text="${pedido.consumicion.precio}"/>
				<td th:text="${ #strings.equals(pedido.consumicion.bebida.cafe.nomcafe, 'nulo') ? pedido.consumicion.bebida.refresco.nomRefresco : pedido.consumicion.bebida.cafe.nomcafe}"/>
				<td th:text="${ #strings.equals(pedido.consumicion.comida.nomComida, 'nulo') ? 'Sin Comida' : pedido.consumicion.comida.nomComida}"/>
				<!--<td><a th:href="@{'/updateCafe/'+${cafe.id}}">Update</a></td> -->
				<td><a th:href="@{/consumicion/add}">Insertar Consumicion</a></td>
				<td><a th:href="@{'/deleteconsumicion/'+${pedido.consumicion.id}}">Delete</a></td>
			</tr>
		</tbody>
		<br>
		<a href="/../">Volver al indice</a>
		<br>
	</table>
</body>
</html>