<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert Refresco</title>
</head>
<body>
	<form th:action="@{/crearPedido}" th:object="${pedidoNuevo}">
		<label for="id" style="display: none;">ID(Numero del Pedido):</label>
		<input type="number" id="id"  th:field="*{numPedido}" style="display: none;"><br><br>
		<label for="trabajador">Trabajador:</label>
		<select id="trabajador" th:field="*{trabajador}">
			<option th:each="trabajador: ${trabajadores}" th:value="${trabajador.id}" 
				th:text="${trabajador.nombre}"></option>
		</select><br><br>
		<label for="usuario">Usuario:</label>
		<select id="usuario" th:field="*{usuario}">
			<option th:each="usuario: ${usuarios}" th:value="${usuario.id}" 
				th:text="${usuario.nombre}"></option>
		</select><br><br>
		<label for="consumicion">Consumicion:</label>
		<select id="consumicion" th:field="*{consumicion}">
			<option th:each="consumicion: ${consumiciones}" th:value="${consumicion.id}" 
				th:text="${consumicion.nombreConsumicion}"></option>
		</select><br><br>
		<input type="submit" value="Insertar">
		
	</form>
</body>
</html>