<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1px" style="display: table; margin:auto; margin-top:200px; width: 50%;border-collapse: collapse;">
		<th>ID</th>
		<th>Nombre</th>
		<th>Precio</th>
		<th colspan="2">Acciones</th>
		<tbody>
			<tr th:each="cafe: ${listaCafe}">
				<td th:text="${cafe.id}"/>
				<td th:text="${cafe.nomProducto}"/>
				<td th:text="${cafe.precio}"/>
				<td><a id="updateBtn" th:href="@{'/updateCafe/'+${cafe.id}}">Update</a></td>
				<td><a id="deleteBtn" th:href="@{'/deleteCafe/'+${cafe.id}}">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>