<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <h1 class="mb-5 mr-0 ml-5 mt-5">Bienvenido a la página de inicio</h1>
        <div class="card">
            <div class="card-body">
                <p>spring.h2.console.enabled=true</p>
                <p>spring.profiles.active=mysql</p>
                <p>spring.sql.init.platform=h2</p>
                <p>/h2-console</p>
                <p>org.h2.Driver</p>
                <p>jdbc:h2:mem:mibasededatos</p>
                <p>sa</p>
                <p>password:</p>
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <div class="card-header">
                            <div class="bi bi-heart text-lg-center modal-title text-center text-warning font-weight-bold"></div>
                        </div>
                        <div class="bi bi-star"></div>
                        <div class="bi bi-check"></div>
                        <div class="bi bi-music-note"></div>
                        <div class="bi bi-envelope"></div>
                        <div class="bi bi-lightning"></div>
                        <div class="card bg-primary text-white">
                            <div class="card-footer">
                                <div class="bi bi-printer ml-5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
