<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icono" href="CafeteriaAPP/CafeteriaAPP/src/main/resources/static/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        .form-container {
            width: 350px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <form id="loginForm" class="form-container" method="post" th:action="@{/ValidarLogin}" th:object="${usuario}">
        <!-- Entrada email-->
        <div class="form-group">
			<label class="form-label" for="email">Email address</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" />     
        </div>
        <!-- Entrada password -->
        <div class="form-group">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control">
        </div>    
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="rememberMe" checked />
                    <label class="form-check-label" for="rememberMe"> Remember me </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>
        </div>
        <!-- Submit button -->
       <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="/src/main/resources/templates/Register.html">Register</a></p>
        </div>
    </form>
</div>


</body>
</html>