<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
	<link rel="icono" href="CafeteriaAPP/CafeteriaAPP/src/main/resources/static/favicon.ico">
<meta charset="UTF-8">
<title>Insert Refresco</title>
</head>
<body>
	<ul class="nav nav-pills nav-fill navbar-dark">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/../">Indice</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarComida}">Comida</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarBebida}">Bebida</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarCafe}">Cafe</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarCafe}">Refresco</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{consumicion}">Consumicion</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarPedido}">Pedidos</a>
		</li>
	</ul>
	<form th:action="@{/crearRefresco}" th:object="${refresconuevo}">
		<!-- <label for="id">ID:</label>
		<input type="number" id="id"  th:field="*{id}"><br><br> -->
		<label for="nombre">Nombre:</label>
		<input type="text" id="nomRefresco"  th:field="*{nomRefresco}"><br><br>
		<label for="precio">Precio:</label>
		<input type="number" id="precio"  th:field="*{precio}"><br><br>
		<input type="submit" value="Insertar">
		
	</form>
</body>
</html>