<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<meta charset="UTF-8">
<title>Insert Consumicion</title>
</head>
<body>
	<ul class="nav nav-pills nav-fill navbar-dark">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/../">Indice</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarComida}">Comida</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarBebida}">Bebida</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarCafe}">Cafe</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarCafe}">Refresco</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{consumicion}">Consumicion</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{listarPedido}">Pedidos</a>
		</li>
	</ul>
	<form th:action="@{/consumicion/save}" th:object="${consumicionNueva}">
		<label for="id" style="display: none;">ID:</label>
		<input type="number" id="id"  th:field="*{id}" style="display: none;"><br><br>
		<label for="comida">Comida:</label>
		<select id="comida" th:field="*{comida}">
			<option th:each="comida: ${comidas}" th:value="${comida.id}" th:text="${comida.nomComida}"></option>
		</select><br><br>
		<label for="bebida">Bebida:</label>
		<select id="bebida" th:field="*{bebida}">
			<option th:each="bebida: ${bebidas}" th:value="${bebida.id}" 
				th:text="${ #strings.equals(bebida?.cafe?.nomcafe, 'nulo') ? bebida?.refresco?.nomRefresco : bebida?.cafe?.nomcafe ?: 'valor_predeterminado'}"></option>
		</select><br><br>

		<!-- "${ #strings.equals(bebida?.cafe?.nomcafe, 'nulo') ? bebida?.refresco?.nomRefresco : bebida?.cafe?.nomcafe ?: 'valor_predeterminado'}" -->
		<!-- ${consumicion?.cantidadBebida == 0 ? consumicion?.bebida?.refresco?.cantidadRefresco : consumicion?.bebida?.cafe?.cantidadCafe ?: 0} -->





		<!-- <label for="comida">Comida:</label>
		<select id="comida" th:field="*{comida}">
			<option th:each="bebida: ${bebidas}" th:value="${bebida.id}" th:text="${bebida.cafe.nomcafe}"></option>
		</select><br> -->
		
		<label for="precio">Precio:</label>
		<!-- <input type="number" id="precio"  th:field="*{precio}">-->
		<br><br> 
		<input type="submit" value="Insertar">
		<nav><a th:href="@{/insertBebida}">Insertar Bebida</a></nav><br>
		<nav><a th:href="@{/insertComida}">Insertar Comida</a></nav><br>
		
	</form>
</body>
</html>