<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="icono" href="CafeteriaAPP/CafeteriaAPP/src/main/resources/static/favicon.ico">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		<title>Insert Bebida</title>
		<script th:inline="javascript">
				document.addEventListener('DOMContentLoaded', function () {
					// Obtén la referencia al elemento select
					var refrescoSelect = document.getElementById('refresco');
			
					// Agrega un evento de cambio al elemento select
					refrescoSelect.addEventListener('change', function () {
						// Envía el formulario cuando cambia la opción seleccionada
						refrescoSelect.form.submit();
					});
				});
				document.addEventListener('DOMContentLoaded', function () {
					// Obtén la referencia al elemento select
					var cafeSelect = document.getElementById('cafe');
			
					// Agrega un evento de cambio al elemento select
					cafeSelect.addEventListener('change', function () {
						// Envía el formulario cuando cambia la opción seleccionada
						cafeSelect.form.submit();
					});
				});
			
		</script>
		<!-- function seleccionarCafe(id) {
			alert('CafeId: ' + id);
			if (confirm('Añadir ')) {
				window.location.href = '/crearBebida?id=&cafe='+id+'&refresco=0';
				id = 0;
			} else {
				alert('Error: ' + id + ' is not a valid ');
			}
		}
		function seleccionarRefresco(nombreRefresco,id) {
			if (confirm('Añadir: ' + nombreRefresco)) {
				window.location.href = '/crearBebida?id=&cafe=0&refresco=0' + id;
				id = 0;
			} else {
				alert('Error: ' + id + ' is not a valid ' + nombreRefresco);
			}
		} -->
	</head>
	<body>
		<ul class="nav nav-pills nav-fill navbar-dark">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/../">Indice</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{listarComida}">Comida</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{listarBebida}">Bebida</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{listarCafe}">Cafe</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{listarRefresco}">Refresco</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{consumicion}">Consumicion</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{listarPedido}">Pedidos</a>
			</li>
		</ul>
		<form th:action="@{/crearBebida}" th:object="${bebidaNueva}">
			<label for="id" style="display: none;">ID:</label>
			<input type="number" id="id" th:field="*{id}" style="display: none;"><br><br>
	
			<label>CAFES:</label>
			<select id="cafe" th:field="*{cafe}">
				<option th:each="cafe: ${cafes}" th:value="${cafe.id}" th:text="${cafe.nomcafe}"></option>
			</select><br><br>
			<!-- Cafe con Bootstrap -->
			<!-- <div class="container">
				<div class="row">
					
					<div th:each="cafe: ${cafes}" class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title" th:text="${cafe.nomcafe}"></h5>
								<p class="card-text ">Precio: </p>
								<p class="card-text " th:text="${cafe.precio}"></p>
								<button class="btn btn-danger" th:onclick="'seleccionarCafe(\'' + ${cafe.id} + '\', ' + ')'" >Elegir</button>


							</div>
						</div>
					</div>
				</div>
			</div><br><br> -->
	
			<label >REFRESCOS:</label>
			<select id="refresco" th:field="*{refresco}">
				<option th:each="refresco: ${refrescos}" th:value="${refresco.id}" th:text="${refresco.nomRefresco}"></option>
			</select><br><br>
			<!-- refresco con Bootstrap -->
			<!-- <div class="container">
				<div class="row">
					<div th:each="refresco: ${refrescos}" class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title" th:text="${refresco.nomRefresco}"></h5>
								<p class="card-text ">Precio: </p>
								<p class="card-text " th:text="${refresco.precio}">Precio: </p>

							</div>
						</div>
					</div>
				</div>
			</div><br><br> -->


			<!-- <label for="precio" style="display: none;">Precio:</label>
			<input type="number" id="precio" th:field="*{precio}" style="display: none;"><br><br> -->
	
			<!-- <label for="precio">Cantidad:</label>
			<input type="number" id="cantidad" th:field="*{cantidad}"><br><br> -->
	
			<input type="submit" value="Insertar">
		</form>
	
		
	</body>
	</html>
	